[Desktop Entry]
Version=1.1
Type=Application
Name=Worklog
Comment=Worklog Utility
Icon=spreadsheet
Exec=bash -c "node ~/Projects/Utility.Worklog ~/Documents/2019-worklog.csv"
Terminal=true
Actions=
Categories=Office;ProjectManagement;
