[Desktop Entry]
Version=1.1
Type=Application
Name=Worklog
Comment=Worklog Utility
Icon=spreadsheet
Exec=gnome-terminal -x bash -c "node ~/Utility.Worklog/main.js ~/Documents/2019-worklog.csv; bash"
Terminal=true
Actions=
Categories=Office;ProjectManagement;
