[Desktop Entry]
Name=Worklog Utility
Exec=/bin/sh -c "~/.local/bin/worklog-utility-0.1.0.AppImage"
Icon=spreadsheet
Comment=Worklog Utility
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Office;ProjectManagement;
