<!DOCTYPE html>
<html>
    <head>
        <title>Worklog</title>
        <meta charset="utf-8" />
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            td, th {
                padding: 0.5rem;
                border: 1px solid silver;
                text-align: center;
            }
            .day.Workday {
                background: aliceblue;
            }
            .day.Public.holiday {
                background: MediumSeaGreen;
            }
        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                <th>Balance</th>
                {{#each statistics.dayTypes}}
                    <th>{{@key}}</th>
                {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{statistics.balance}}</td>
                    {{#each statistics.dayTypes}}
                        <td>{{this}}</td>
                    {{/each}}                
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                {{#each weeks}}
                <tr>
                    <th>Week {{@key}}

                    </th>
                    {{#each this}}
                    <td class="day {{this.type}}">
                        <strong>
                            {{this.day}}
                            {{@key}}
                        </strong><br />
                        ({{this.type}})<br />
                        {{this.debt}} / {{this.hours}}<br />
                        {{this.balance}}
                        </td>
                    {{/each}}                
                </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>
